
body{
        color:plum;
        background: whitesmoke;
    }
    header {
        border: solid 2px pink;
    }
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 200px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}
