
body{
        color:plum;
        background: whitesmoke;
    }

    
    header {
        border: solid 2px red;
    }
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 200px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}
header {
    border-bottom: solid 2px rgb(228, 42, 129);
    padding: 20px;
    font-size: 32px;
    color: rgb(228, 42, 129);
}
