
body{
        color:rgb(228, 42, 129);
        background: rgba(216, 67, 179, 0.384);
    }

    
    header {
        border: solid 2px rgb(231, 48, 161);
    }
}




.chamada-texto{
    margin-right: 100px;
}


img{
    height: 200px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 20px;
}
header {
    border-bottom: solid 2px rgb(230, 98, 186);
    padding: 20px;
}
header {
    border-bottom: solid 2px rgb(230, 43, 183);
    padding: 20px;
    font-size: 32px;
    color: rgb(230, 43, 183);
}